.dishImage {
    height: 200px;
    width: 200px;
    float: right;
    margin-right: 70px;
    margin-top: 2.2%;
    border: 2px solid black;
}

.menuPage {
    width: 80%;
    border: 2px solid black;
    float: right;
    margin-right: 60px;
    text-align: center;
    margin-top: 40px;
    box-shadow: 10px 10px 8px 10px #888888;
}

.dishItem {
    height: 250px;
    border-top: 2px solid black;
}

.menuInfoBar {
    height: 30px;
    color: white;
    background-color: #222;
    display: inline-block;
    width: 88.13%;
    /* float: right; */
    font-size: 10px;
}

.menuEditLink {
    float: right;
    text-decoration: none;
    font-size: 15px;
    text-align: center;
    color: white;
    padding: 6px 6px;
    width: 200px;
    background-color: #e6ac00
}

.menuEditLink:hover {
    background-color: #997300;
}

.addBtn {
    display: inline-block;
    padding: 7px 15px;
    border-color: #014041;
    border-width: 1px 1px 3px;
    border-radius: 3px;
    background-color: #cc9900;
    color: #f8f8f8;
    /* font-size: 1.1rem; */
    outline: 0;
    cursor: pointer;
}

.addBtn:hover {
    background-color: #997300;
}

.dltBtn {
    display: inline-block;
    padding: 7px 15px;
    border-color: #014041;
    border-width: 1px 1px 3px;
    border-radius: 3px;
    background-color: #b30000;
    color: #f8f8f8;
    /* font-size: 1.1rem; */
    outline: 0;
    cursor: pointer;
    float: right;
}

.dltBtn:hover {
    background-color: #800000;
}

.dropdown {
    display: inline-block;
    padding: 6px 15px;
    border-color: #014041;
    border-width: 1px 1px 3px;
    border-radius: 3px;
    outline: 0;
    cursor: pointer;
}